{{#> base }}
{{#*inline "content"}}
<h1>Login</h1>
<p>Welcome to the SSH Key Authority server.</p>
<form action="/auth/oauth2" method="get">
  <input type="submit" value="OAuth2" class="btn btn-default btn-xs" />
</form>
{{/inline}}
{{/base}}